{% extends 'base.html' %}
{% block title %}Audit Log{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Audit trail</h1>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">File ID</th>
                    <th scope="col">Action</th>
                    <th scope="col">Author</th>
                    <th scope="col">File type</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for metadata in metadatas %}
                    <tr>
                        <th scope="col">{{ metadata.fileId }}</th>
                        <td>{{ metadata.action }}</td>
                        <td>{{ metadata.author }}</td>
                        <td>{{ metadata.type }}</td>
                        <td>{{ metadata.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}