{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon"/>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Mark</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'time-calc' %}active{% endif %}">
                <a class="nav-link" href="{% url 'time-calc' %}">Time calculator
                    {% if request.resolver_match.url_name == 'time-calc' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'multifile-compress' %}active{% endif %}">
                <a class="nav-link" href="{% url 'multifile-compress' %}">Multifile Compress
                    {% if request.resolver_match.url_name == 'multifile-compress' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'fibonacci' %}active{% endif %}">
                <a class="nav-link" href="{% url 'fibonacci' %}">Fibonacci
                    {% if request.resolver_match.url_name == 'fibonacci' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'downloader' %}active{% endif %}">
                <a class="nav-link" href="{% url 'downloader' %}">Downloader
                    {% if request.resolver_match.url_name == 'downloader' %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            {% if 'infralabs_access_token' in request.session %}
                <li class="nav-item {% if request.resolver_match.url_name == 'oauth-resource' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'oauth-resource' %}">Resource
                        {% if request.resolver_match.url_name == 'oauth-resource' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'file-upload' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'file-upload' %}">File upload
                        {% if request.resolver_match.url_name == 'file-upload' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'file-list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'file-list' %}">File list
                        {% if request.resolver_match.url_name == 'file-list' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'audit' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'audit' %}">Audit log
                        {% if request.resolver_match.url_name == 'audit' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if 'infralabs_username' not in request.session %}
            <a class="btn btn-light my-2 my-sm-0" href="{% url 'oauth' %}">Login</a>
        {% endif %}
    </div>
</nav>
{% block body %}{% endblock %}
<script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>