{% extends 'base.html' %}
{% load static %}
{% block title %}Downloader result{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h1>Download Result</h1>
        <label for="size-progress">Progress</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0" id="size-progress">0.0%
            </div>
        </div>
        <a id="download-button" class="btn btn-light mt-3 disabled" href="#">Download</a>
    </div>
    <script src="{% static 'js/sockjs.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/stomp.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/downloadProgress.js' %}" type="text/javascript"></script>
{% endblock %}