{% extends "base.html" %}
{% block title %}Download service{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h1>Download service</h1>
        <form method="POST" action="{% url 'downloader' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="filenameInput">File name</label>
                <input type="text" class="form-control" id="filenameInput" name="filename"
                       aria-describedby="extensionHelp">
                <small id="extensionHelp" class="form-text text-muted">If extension isn't included, we'll try to guess
                    using your OS's mime-types database</small>
            </div>
            <div class="form-group">
                <label for="urlInput">Download link</label>
                <input type="url" class="form-control" id="urlInput" name="download_url">
            </div>
            <button type="submit" class="btn btn-primary">Download</button>
        </form>
    </div>
{% endblock %}
