{% extends 'base.html' %}
{% block title %}Fibonacci service{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h1>Fibonacci</h1>
        <form class="form-inline" method="GET" action="{% url 'fibonacci' %}">
            <label class="sr-only" for="fibonacci-n">N</label>
            <input type="number" class="form-control mb-2 mr-sm-2" id="fibonacci-n" placeholder="1"
                   {% if input %}value="{{ input }}"{% endif %} name="n">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
        {% if result is not None %}
            <span>Result: {{ result }}</span>
        {% endif %}
    </div>
{% endblock %}