{% extends 'base.html' %}
{% block title %}File hosting{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Upload file</h1>
        <form method="POST" class="mt-2" action="{% url 'file-upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.hidden }}
            <label for="file-container">File</label>
            <div class="form-group">
                <div class="custom-file" id="file-container">
                    {{ form.file }}
                    <label id="file-input-text" class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>
    <script>
        function changeName(input) {
            const path = input.value.split('\\');
            document.getElementById('file-input-text').innerText = path[path.length - 1]
        }
    </script>
{% endblock %}
