{% extends 'base.html' %}
{% block title %}File list{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Uploaded file</h1>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Filename</th>
                    <th scope="col">Uploader</th>
                    <th scope="col">Status</th>
                    <th scope="col">Download</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <th scope="row">{{ file.id }}</th>
                        <td>{{ file.original_name }}</td>
                        <td>{{ file.user_id }}</td>
                        <td>
                            {% if file.compressed %}
                                Compressed
                            {% else %}
                                <form method="POST" action="{% url 'compress-file' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{ file.id }}">
                                    <button type="submit" class="btn btn-light">Compress</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if file.compressed %}
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="downloadMenu"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Download
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="downloadMenu">
                                        <a class="dropdown-item"
                                           href="{% url 'download-file' %}?id={{ file.id }}&type=original">Original</a>
                                        <a class="dropdown-item"
                                           href="{% url 'download-file' %}?id={{ file.id }}&type=compressed">Compressed</a>
                                    </div>
                                </div>
                            {% else %}
                                <a class="btn btn-light"
                                   href="{% url 'download-file' %}?id={{ file.id }}&type=original">Original</a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'file-upload' %}?id={{ file.id }}">Update</a>
                        </td>
                        <td>
                            <form method="POST" action="{% url 'delete-file' %}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ file.id }}">
                                {% if file.compressed %}
                                    <div class="dropdown">
                                        <button class="btn btn-danger dropdown-toggle" type="button" id="deleteMenu"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Delete
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="deleteMenu">
                                            <button class="dropdown-item" name="type" value="original" type="submit">
                                                Original
                                            </button>
                                            <button class="dropdown-item" name="type" value="compressed" type="submit">
                                                Compressed
                                            </button>
                                        </div>
                                    </div>
                                {% else %}
                                    <button class="btn btn-danger" name="type" value="original" type="submit">
                                        Original
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}