{% extends 'base.html' %}
{% load static %}
{% block title %}Multifile compression result{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h1>Compression Result</h1>
        <label for="count-progress">File count progress</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0" id="count-progress">0.0%</div>
        </div>
        <label for="size-progress">Size progress</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0" id="size-progress">0.0%</div>
        </div>
    <a id="download-button" class="btn btn-light mt-3" href="#" style="visibility: hidden">Download</a>
    </div>
    <script src="{% static 'js/sockjs.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/stomp.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/compressProgress.js' %}" type="text/javascript"></script>
{% endblock %}