{% extends 'base.html' %}
{% load static %}
{% block title %}Multifile compression{% endblock %}
{% block body %}
    <div class="container mt-3">
        <h1>Multifile compression service</h1>
        <form method="POST" class="mt-2" action="{% url 'multifile-compress' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file-container">Files</label>
            <div id="file-fields">
                <div class="form-group">
                    <div class="custom-file" id="file-container1">
                        <input type="file" class="custom-file-input" id="customFile-1" name="file1"
                               onchange="changeName(this)">
                        <label id="file-input-text1" class="custom-file-label" for="customFile-1">Choose file</label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-light" onclick="addField()">Add field</button>
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/fileFieldUtil.js' %}"></script>
{% endblock %}