{% extends 'base.html' %}
{% block title %}OAuth{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Authorized</h1>
        <h4>Data:</h4>
        <pre><code>{{ formatted }}</code></pre>
        <a type="button" class="btn btn-light" href="{% url 'clear-oauth' %}">Clear token</a>
    </div>
{% endblock %}