{% extends 'base.html' %}
{% block title %}OAuth{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Login</h1>
        <form method="POST" action="{% url 'oauth' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-light">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}