{% extends 'base.html' %}
{% block title %}Time calculator{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Infralabs's server time calculator</h1>
        <form method="POST" action="{% url 'time-calc' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputHours">Hours</label>
                    {{ form.hours }}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputMinutes">Minutes</label>
                    {{ form.minutes }}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputSeconds">Seconds</label>
                    {{ form.seconds }}
                </div>
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
        {% if result %}
            <div class="mt-2">
                <div class="row">
                    <div class="col">
                        <h2>Current server time</h2>
                        <span>{{ current }}</span>
                    </div>
                    <div class="col">
                        <h2>Result</h2>
                        <span>{{ hours }}:{{ minutes }}:{{ seconds }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
